* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(58, 66, 68);
}

.player {
  width: 100px;
  height: 20px;
  /* position: absolute; */
  background-color: rgb(189, 78, 78);
  border-radius: 20px;
}

.ball {
  width: 30px;
  height: 30px;
  /* position: fixed; */
  background-color: rgb(218, 212, 57);
  border-radius: 50%;
  border-radius: 20px;

}

.block {
  width: 100px;
  height: 20px;
  background-color: blue;
  border-radius: 20px;

}