* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: rgba(0, 0, 0, 0.339); */
  background: url("https://raw.githubusercontent.com/codewmax/space-invaders/master/img/background-blue.png");
  animation: scroll-background 5s linear infinite;
  position: relative;
  z-index: -2;

}

.player {
  width: 100px;
  height: 20px;
  /* position: absolute; */
  background-color: rgb(189, 78, 78);
  border-radius: 20px;
}

.ball {
  width: 30px;
  height: 30px;
  /* position: fixed; */
  background-color: rgb(218, 212, 57);
  border-radius: 50%;
  border-radius: 20px;

}

.block {
  width: 100px;
  height: 20px;
  background-color: blue;
  border-radius: 20px;

}

.points {
  position: fixed; 
  font-size: 1.5rem;
  left: 46%;
  color: red;
 }
 
 @keyframes scroll-background {
  from {
    background-position-y: 0px;
  } to {
    background-position-y: 256px;
  }
}