body {
  background: rgb(20, 20, 20);
  background: url("https://raw.githubusercontent.com/codewmax/space-invaders/master/img/background-blue.png");
  animation: scroll-background 5s linear infinite;
  position: relative;
  z-index: -2;
  color: white;
}

.ship {
  width: 50px;
  height: 50px;
  position: fixed;
}

.entity {
  position: fixed;
}

.bullet {
  background-color: rgb(228, 214, 55);
  width: 6px;
  height: 10px;
  position: fixed;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;

}

.alien {
  position: fixed;
  width: 70px;
  height: 70px;
  max-width: 100%;
  height: auto;
}

.score {
 position: fixed; 
 font-size: 1.5rem;
 left: 50%;
 color: red;
}

@keyframes scroll-background {
  from {
    background-position-y: 0px;
  } to {
    background-position-y: 256px;

  }
}